<%= render 'pages/home' unless user_signed_in? %>

<div id="pins">
  <div class="grid-sizer"></div>
  <% @pins.each do |pin| %>
    <div class="panel box">
      <%= link_to pin_path(pin) do %>
      <%= image_tag pin.image.url(:medium) %>
      <% end %>
	  <!-- List group -->
	  <ul class="list-group">
	    <li class="list-group-item"><%= pin.description %></li>
	    <li class="list-group-item"><%= pin.user.email if pin.user %></li>
	  </ul>
      <div class="panel-footer">
      <!-- <%= link_to 'Show', pin_path(pin), class: "btn btn-default btn-sm" %> -->
      <% if pin.user == current_user %>
		<%= link_to( edit_pin_path(pin), class:"btn btn-default btn-sm" ) do %>
		  Edit
		<% end %>
		<%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-sm pull-right" do %>
		  <span class="glyphicon glyphicon-trash"></span>
		<% end %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>

<br>
<% if user_signed_in? %>
<%= link_to 'New Pin', new_pin_path %>
<% end %>