<p id="notice"><%= notice %></p>

<% if @pin.user == current_user %>
	<%= link_to 'Edit', edit_pin_path(@pin), class:"btn btn-primary" %>
<% end %>
<br><br>

<div class="panel panel-default">
	<div class="panel-heading">
		<h5>Pin #<%= @pin.id if @pin.id %> <span class="pull-right">Share</span></h5>
	</div>
	<%= image_tag @pin.image.url(:large) %>
	<ul class="list-group">
		<li class="list-group-item"><strong><%= @pin.description %></strong></li>
		<li class="list-group-item">From <strong><%= @pin.user.name if @pin.user %></strong> at <strong><%= @pin.created_at %></strong></li>
	</ul>
</div>

<br>
<br>
